<%= @name %> is now playing Battleships

<p>Take a shot!</p>

<%= @grid %>


<table>
<% @sliced = @grid.values.each_slice(2).to_a %>
	<% @sliced %>
</table>



<form action='/shot' method='post'>
<input type='text' name='target'></input>
<input type='submit' value="shoot"> </input>
</form>

<% if @hit %>
	<p>You hit the ship!</p>
<% elsif @hit == false %>
	<p>You missed!</p>
<% end %>