<%= @name %> is now playing Battleships

<style>
	table {
    	border-collapse: collapse;
	}
	table, th, td {
		border: 1px solid black;
	}
</style>


<p>Take a shot!</p>


<table>
	<% @grid.each do |row| %>
		<tr><% row.each do |cell| %></tr>
			<td>~</td>
			<td>~</td>
		<% end %>
	<% end %>
</table>

<br />

<form action='/shot' method='post'>
<input type='text' name='target'></input>
<input type='submit' value="shoot"> </input>
</form>

<% if @hit %>
	<p>You hit the ship!</p>
<% elsif @hit == false %>
	<p>You missed!</p>
<% end %>